* {
  box-sizing: border-box;
  font-size: 1rem;
  }

body {
  margin: 0px;
  background-color: #ffffff;
  font-weight: normal;
  
}
h1,
h2,
h3,
h4,
h6,
h5 {
  margin: 0px;
  font-weight: 600;
}
p {
  margin: 0px;
}
img {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: #000;
}

input,
textarea {
  width: 100%;
  border: 1px solid #ffffff;
  background: #ffffff;
  border-radius: 5px;
  padding: 12px 12px;
  resize: none;
}
button {
  display: block;
  width: 100%;
  padding: 0px 10px;
  color: #000;
  background-color: #ededed;
  border: 1px solid #000;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 68px 1fr 68px;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  height: 100vh;
  transition: all 300ms;
}
.open-sidebar .grid-container {
  grid-template-columns: 0px 1fr;
  transition: all 300ms;
}
.header {
  grid-area: header;
  background-color: #fff;
  box-shadow: 0 2px 4px #0f223a1f;
  position: relative;
}

.sidenav {
  grid-area: sidenav;
  background-color: #ffffff;
  box-shadow: 0 2px 4px #0f223a1f;
  position: relative;
  padding-top: 68px;
}

.main {
  grid-area: main;
  /* background-color: #ffffff; */
  padding: 25px 20px;
  height: 100%;
  overflow: auto;
}

.footer {
  grid-area: footer;
  background-color: #fff;
  box-shadow: 0 0 4px #0f223a1f;
  position: relative;
}