* {
  box-sizing: border-box;
  font-size: 1rem;
  }

body {
  margin: 0px;
  background-color: black;
  color: #ededed;
  font-weight: normal;
  /* padding: 20px; */

  
}
h1,
h2,
h3,
h4,
h6,
h5 {
  margin: 0px;
  font-weight: 600;
}
p {
  margin: 0px;
}
img {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: #000;
}

input,
textarea {
  width: 100%;
  border: 1px solid #ffffff;
  background: #ffffff;
  border-radius: 5px;
  padding: 12px 12px;
  resize: none;
}
button {
  display: block;
  width: 100%;
  padding: 0px 10px;
  color: #000;
  background-color: #ededed;
  border: 1px solid #000;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 68px 1fr 68px;
  grid-template-areas:
    "sidebar main"
    "sidebar main"
    "sidebar main";
  height: 100vh;
  transition: all 300ms;
  padding: 30px;
}
.open-sidebar .grid-container {
  grid-template-columns: 0px 1fr;
  transition: all 300ms;
}
.header {
  grid-area: header;
}

.side-bar {
  grid-area: sidebar;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 0px;
}

.side-list ul li{
  font-size: 24px;
  font-weight: 600;
}

.side-list ul li+li {
  margin-top: 10px;

}

.profile-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-main div p {
  margin-top: 10px;
}

.main-page {
  grid-area: main;
  background-color: #ededed;
  color: black;
  border-radius: 20px;
  height: 100%;
  overflow: auto;
  display: flex;
  padding: 50px 0px;

}

.main-page-left {
  padding: 0px 20px;
}

.w-70 {
  width: 70%;
}
.w-30 {
  width: 30%;
}

.AdminHeading {
  display: flex;
  justify-content: space-between;
}
